.header {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1512px;
    height: 100px;
    left: 0px;
    top: 0px;
    
    background-color: #1a8742
    }
    
    #logo{
        color: #1a8742;
        font-size: larger;
    }