<div class="body-wrapper">
   

    <div class="form-container">
        <h2> REGISTERATION</h2>
     <form>
        <input id="firstname" type="text" placeholder="First Name" [formControl]="firstname">
         <br> <br>
        <input id="lastname" type="text" placeholder="Last Name" [formControl]="lastname"> 
        <br> <br>
        <input id="email" type="text" placeholder="Email" [formControl]="email">
        <br> <br>
        <input id="password" type="text" placeholder="Password" [formControl]="password"> 
        <br> <br>
        <input id="gender" type="text" placeholder="Gender" [formControl]="gender">
        <br> <br>
        <input id="department" type="text" placeholder="Department" [formControl]="department">
        <br> <br>
        <input id="jobrole" type="text" placeholder="Job Role" [formControl]="jobrole">
        <br> <br>
        <button>Submit</button>
     </form>   
        
    </div>

    

</div>
